/* Article sections */
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding: 2.625rem 1.3125rem;
}

/* Code Editor */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container__content {
  width: 440px;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.container_editor_area {
  tab-size: 4ch;
  max-height: 400px;
  overflow: auto;
  margin: 1.67em 0;
}

.container__editor {
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  background-color: #fafafa;
  border-radius: 3px;
}

.container__editor textarea {
  outline: 0;
}

/* Code Editor - Syntax highlighting */
.token.keyword,
.token.keyword.keyword-import,
.token.keyword.keyword-from,
.token.keyword.keyword-return,
.token.keyword.keyword-if {
  color: rgb(197, 165, 197);
}
.token.punctuation {
  color: rgb(136, 198, 190);
}
.token.string {
  color: rgb(141, 200, 145);
}

.token.function {
  color: rgb(121, 182, 242);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(178, 178, 178);
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: rgb(215, 222, 234);
}

/* Blockquote */
blockquote {
  border-left: calc(0.2vw + 2px) solid #333;
  padding: 0.1% 6% 0.1% 4%;
  margin: 1.6em 1vw;
  font-size: 0.92em;
  line-height: 1.4em;
}
