*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  /* https://uigradients.com/#DarkOcean */
  background: #ffffff; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #4286f4, #373b44); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Code", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
