/* Page */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fira code", "Fira Mono", Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* App */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container__content {
  width: 440px;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.container_editor_area {
  tab-size: 4ch;
  max-height: 400px;
  overflow: auto;
  margin: 1.67em 0;
}

.container__editor {
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  background-color: #fafafa;
  border-radius: 3px;
}

.container__editor textarea {
  outline: 0;
}

.button {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
  background: #000;
  color: #fff;
}

.button:hover {
  background: linear-gradient(45deg, #e42b66, #e2433f);
}

/* Syntax highlighting */
.token.keyword,
.token.keyword.keyword-import,
.token.keyword.keyword-from,
.token.keyword.keyword-return,
.token.keyword.keyword-if {
  color: rgb(197, 165, 197);
}
.token.punctuation {
  color: rgb(136, 198, 190);
}
.token.string {
  color: rgb(141, 200, 145);
}

.token.function {
  color: rgb(121, 182, 242);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(178, 178, 178);
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: rgb(215, 222, 234);
}
